html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-muf {
	background-color: #fff;
	border-color: #e7e7e7;
}

.navbar-brand {
	margin-top: -6px;
}

.jumbotron {
	background-color: #8ac0ee;
	background-image: url(../img/jumbg.jpg);
	background-repeat: repeat;
	color: #fff;
}

.btn-primary {
	background-color: #fff;
	border-color: #3071a9;
	color: #000;
}
