@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

html {
	overflow-y: scroll;
}

body {
	padding-top: 50px;
	padding-bottom: 20px;
}

.navbar-muf {
	background-color: #fff;
	border-color: #e7e7e7;
}

.navbar-brand {
	margin-top: -6px;
}

.jumbotron {
	background-color: #009fe3;
	background-image: url(../img/jumbg.jpg);
	background-repeat: repeat;
	color: #fff;
}

.btn-jumbo {
	background-color: #fff;
	border-color: #3071a9;
	color: #000;
}

.btn-jumbo:hover{
	background-color: #f58634;
	border-color: #f1b88f;
	color: #fff;
}

.lead {
	font-size: 33px;margin-bottom:0px;
}

.center {
	text-align: center;
}

ul.navbar-nav li.active {
	background-color: #4fc1f1;
	color: #fff;
}

ul.navbar-nav li.active a {
	color: #fff;
}

div.notice {
	margin-top: 50px;
}

div.notice span.label {
	padding: 5px 20px;
}

.jump-5 {
	margin-right: 5px;
}

/* Páginas de erro amigáveis */

.error-template {
	padding: 40px 15px;
	text-align: center;
}

.error-actions {
	margin-top: 15px;
	margin-bottom: 15px;
}

.error-actions .btn {
	margin-right: 10px;
}

/* Features da página inicial */

.box > .icon {
	text-align: center;
	position: relative;
}

.box > .icon > .image {
	position: relative;
	z-index: 2;
	margin: auto;
	width: 88px;
	height: 88px;
	border: 8px solid white;
	line-height: 88px;
	border-radius: 50%;
	background: #009fe3;
	vertical-align: middle;
}

.box > .icon:hover > .image {
	background: #f58634;
	cursor: pointer;
}

.box > .icon > .image > i {
	font-size: 36px !important;
	color: #fff !important;
}

.box > .icon:hover > .image > i {
	color: white !important;
}

.box > .icon > .info {
	margin-top: -24px;
	background: rgba(0, 0, 0, 0.04);
	border: 1px solid #e0e0e0;
	padding: 15px 0 10px 0;
}

.box > .icon:hover > .info {
	background: rgba(0, 0, 0, 0.04);
	border-color: #e0e0e0;
	color: white;
}

.box > .icon > .info > h3.title {
	color: #222;
}

.box > .icon > .info > p {
	color: #777;
	line-height: 1.5em;
	margin: 20px;
}

.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a {
	color: #444;
}

.box > .icon > .info > .more a {
	color: #222;
	text-transform: uppercase;
	text-decoration: none;
}

.box > .icon:hover > .info > .more > a {
	color: #fff;
	padding: 6px 8px;
	background-color: #009fe3;
}

.box .space {
	height: 30px;
}

/* Assistente de cadastro */

.stepwizard-step p {
	margin-top: 10px;    
}

.process-row {
	display: table-row;
}

.process {
	display: table;     
	width: 100%;
	position: relative;
	margin-bottom: 64px;
}

.process-step button[disabled] {
	opacity: 1 !important;
	filter: alpha(opacity=100) !important;
}

.process-row:before {
	top: 50px;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #ccc;
	z-order: 0;

}

.process-step {    
	display: table-cell;
	text-align: center;
	position: relative;
}

.process-step p {
	argin-top:10px;
}

.btn-circle {
	width: 100px;
	height: 100px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 15px;
}

/* Painel do usuário. */

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/* Panel tabs. */

/*Panel tabs*/
.panel-tabs {
    position: relative;
    bottom: 30px;
    clear:both;
    border-bottom: 1px solid transparent;
}

.panel-tabs > li {
    float: left;
    margin-bottom: -1px;
}

.panel-tabs > li > a {
    margin-right: 2px;
    margin-top: 4px;
    line-height: .85;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #ffffff;
}

.panel-tabs > li > a:hover {
    border-color: transparent;
    color: #ffffff;
    background-color: transparent;
}

.panel-tabs > li.active > a,
.panel-tabs > li.active > a:hover,
.panel-tabs > li.active > a:focus {
    color: #fff;
    cursor: default;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255,255,255, .23);
    border-bottom-color: transparent;
}
